*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.tar.xz
*.trs
*~
vgcore.*

/aclocal.m4
/build/
/config.log
/config.status
/configure
.deps/
.dirstamp
/install-tree/
/Makefile
/Makefile.in

/lib/*.varlink.inc.c
lib/*.pc
/*.so.0

/test-interface
/test-server-client
/test-variant-type
/test-array
/test-object
/test-error
/test-avl
/varlink
